<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TmProjectManageMapper">

    <!--表名 -->
    <sql id="tableName">
		TM_TMPROJECTMANAGE
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		TM_PROJECT_NUMBER,	
		PROJECT_NAME,	
		BID_OPENING_TIME,	
		BID_OPENING_LOCATION,	
		ATTRIBUTION_DEPARTMENT,	
		PROJECT_LOCATION,	
		PRINCIPAL,	
		DISTRICT_OWNERSHIP,	
		SERVICE_FEE_CATEGORY,	
		PROJECT_SERVICE_TYPES,	
		TENDER_TYPE,	
		COOPERATION_UNIT,
		INCOME_DISTRIBUTION,
		COMMENT,	
		IS_STATUS,	
		CREATE_TIME,	
		ARCHIVING_TIME,	
		RECORD_REMINDER_TIME,	
		IS_RECORD_STATUS,	
		IS_EXTRACT_EXPERT,	
		TMPROJECTMANAGE_ID
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{TM_PROJECT_NUMBER},	
		#{PROJECT_NAME},	
		#{BID_OPENING_TIME},	
		#{BID_OPENING_LOCATION},	
		#{ATTRIBUTION_DEPARTMENT},	
		#{PROJECT_LOCATION},	
		#{PRINCIPAL},	
		#{DISTRICT_OWNERSHIP},	
		#{SERVICE_FEE_CATEGORY},	
		#{PROJECT_SERVICE_TYPES},	
		#{TENDER_TYPE},	
		#{COOPERATION_UNIT},
		#{INCOME_DISTRIBUTION},
		#{COMMENT},	
		#{IS_STATUS},	
		#{CREATE_TIME},	
		#{ARCHIVING_TIME},	
		#{RECORD_REMINDER_TIME},	
		#{IS_RECORD_STATUS},	
		#{IS_EXTRACT_EXPERT},	
		#{TMPROJECTMANAGE_ID}
	</sql>

    <!-- 新增-->
    <insert id="save" parameterType="pd">
        insert into
        <include refid="tableName"></include>
        (
        TMPROJECTMANAGE_ID,
        PROJECT_NAME,
        BID_OPENING_TIME,
        BID_OPENING_LOCATION,
        ATTRIBUTION_DEPARTMENT,
        PROJECT_LOCATION,
        DISTRICT_OWNERSHIP,
        SERVICE_FEE_CATEGORY,
        PROJECT_SERVICE_TYPES,
        TENDER_TYPE,
        COOPERATION_UNIT,
        INCOME_DISTRIBUTION,
        COMMENT,
        PRINCIPAL,
        CREATE_TIME,
        IS_EXTRACT_EXPERT,
        IS_STATUS,
        IS_RECORD_STATUS
        ) values (
        #{TMPROJECTMANAGE_ID},
        #{PROJECT_NAME},
        #{BID_OPENING_TIME},
        #{BID_OPENING_LOCATION},
        #{ATTRIBUTION_DEPARTMENT},
        #{PROJECT_LOCATION},
        #{DISTRICT_OWNERSHIP},
        #{SERVICE_FEE_CATEGORY},
        #{PROJECT_SERVICE_TYPES},
        #{TENDER_TYPE},
        #{COOPERATION_UNIT,jdbcType=VARCHAR},
        #{INCOME_DISTRIBUTION,jdbcType=VARCHAR},
        #{COMMENT},
        #{PRINCIPAL},
        #{CREATE_TIME},
        #{IS_EXTRACT_EXPERT},
        #{IS_STATUS},
        #{IS_RECORD_STATUS}
        )
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="pd">
        delete from
        <include refid="tableName"></include>
        where
        TMPROJECTMANAGE_ID = #{TMPROJECTMANAGE_ID}
    </delete>

    <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        PROJECT_NAME = #{PROJECT_NAME},
        BID_OPENING_TIME = #{BID_OPENING_TIME},
        BID_OPENING_LOCATION = #{BID_OPENING_LOCATION},
        ATTRIBUTION_DEPARTMENT = #{ATTRIBUTION_DEPARTMENT},
        PROJECT_LOCATION = #{PROJECT_LOCATION},
        DISTRICT_OWNERSHIP = #{DISTRICT_OWNERSHIP},
        SERVICE_FEE_CATEGORY = #{SERVICE_FEE_CATEGORY},
        PROJECT_SERVICE_TYPES = #{PROJECT_SERVICE_TYPES},
        TENDER_TYPE = #{TENDER_TYPE},
        COOPERATION_UNIT = #{COOPERATION_UNIT,jdbcType=VARCHAR},
        INCOME_DISTRIBUTION = #{INCOME_DISTRIBUTION,jdbcType=VARCHAR},
        COMMENT = #{COMMENT}
        where
        TMPROJECTMANAGE_ID = #{TMPROJECTMANAGE_ID}
    </update>

    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        TMPROJECTMANAGE_ID = #{TMPROJECTMANAGE_ID}
    </select>

    <!-- 列表 -->
    <select id="datalistPage" parameterType="page" resultType="pd">
        select
        tpj.TMPROJECTMANAGE_ID,
        tpj.PROJECT_NAME,
        tpj.BID_OPENING_TIME,
        tpj.BID_OPENING_LOCATION,

        d.DEPARTMENT_ID,
        d.NAME AS departmentName,

        tpl.TMPROJECTLOCATION_ID,
        tpl.PROJECT_LOCATION_NAME,

        tdo.TMDISTRICTOWNERSHIP_ID,
        tdo.TMDISTRICTOWNERSHIPNAME,

        tpj.SERVICE_FEE_CATEGORY,
        tpj.PROJECT_SERVICE_TYPES,

        ttt.TMTENDERTYPE_ID,
        ttt.TENDER_TYPE_NAME,

        tcu.TMCOOPERATIONUNIT_ID,
        tcu.COOPERATION_UNIT_NAME,

        tpj.INCOME_DISTRIBUTION,
        tpj.COMMENT,

        os.STAFF_ID,
        os.NAME AS staffName,

        tpj.CREATE_TIME,
        tpj.IS_EXTRACT_EXPERT,
        tpj.IS_STATUS,
        tpj.IS_RECORD_STATUS
        from
        tendermanagement.TM_TMPROJECTMANAGE tpj
        LEFT JOIN tendermanagement.oa_department d on tpj.ATTRIBUTION_DEPARTMENT = d.DEPARTMENT_ID
        LEFT JOIN tendermanagement.tm_tmprojectlocation tpl on tpj.PROJECT_LOCATION = tpl.TMPROJECTLOCATION_ID
        LEFT JOIN tendermanagement.tm_tmdistrictownership tdo on tpj.DISTRICT_OWNERSHIP = tdo.TMDISTRICTOWNERSHIP_ID
        LEFT JOIN tendermanagement.tm_tmtendertype ttt on tpj.TENDER_TYPE = ttt.TMTENDERTYPE_ID
        LEFT JOIN tendermanagement.tm_tmcooperationunit tcu on tpj.COOPERATION_UNIT = tcu.TMCOOPERATIONUNIT_ID
        LEFT JOIN tendermanagement.oa_staff os on tpj.PRINCIPAL = os.STAFF_ID
        where 1=1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            (
            <!--	根据需求自己加检索条件
                字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
                 or
                字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            -->
            )
        </if>
    </select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
    </select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from
        <include refid="tableName"></include>
        where
        TMPROJECTMANAGE_ID in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- fh313596790qq(青苔) -->
</mapper>